.aside_content {
        display: flex;
        flex-direction: column;
        height: inherit;
        margin: 2rem 1rem;
        padding: 1rem;
        position: sticky;
        top: 0;
        justify-content: space-evenly;

}
