.aside_content {
        display: flex;
        flex-direction: column;
        height: inherit;
        margin: 2rem 1rem;
        padding: 1rem;
        position: sticky;
        top: 0;
        justify-content: space-evenly;
        align-items: center;
        background-color: #333;
        border-radius: 6px;
        color: white;
}

.aside_content Button {
        box-shadow: none;
}

.add-coupon-button {
        height: 10px;
}