@media(max-width:1400px) {
    .layout {
        display: block;
    }

    .aside {
        min-height: max-content;
    }
}

.layout {
    height: 87vh;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.layout>header,
footer {
    grid-column: span 12;
    position: sticky;
    top: 0;
}

.layout>aside {
    grid-column: span 2;
    height: 89vh;
    min-width: 150px;
    max-width: 300px;
    /* background-color: rgb(117, 117, 107); */
    display: flex;
    line-break: auto;
    flex-direction: column;
}

.layout>main {
    grid-column: span 10;
}

@media (max-height:920px){
    .layout>main{
        height:70vh;
    }
}
@media (min-height:300px){
    .layout>main{
        height:70vh;
    }
}
