.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    min-height: 6vh;
    color: white;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 500;
}

.nav a {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 120px;
}

.right a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 120px;
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: 10px;
    height: 6vh;
}


.nav a:hover,
button:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}


.nav a.active {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #484372; */
    background-color: rgb(38, 57, 77);
    color: white;
    height: 58px;
    width: 110px;
    height: 6vh;
}

.navbar_links a {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 8px;
}

a.link {
    gap: 5px;
}

.cart-button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background: none;
    border: none;
    color: white;
    padding: 14px 16px;
}


@media (max-width: 2025px) {
    .nav {
        width: 100%;
    }
}