.full_screen_register {
    height: 85vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_signup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 5px solid;
    background-color: rgb(189, 184, 184);
    opacity: 0.6;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    min-height: 550px;
    min-width: 400px;
}

.title_register {
    font-weight: bold;
    font-size: 50px;
}

.title_register_container {
    display: flex;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    width: 420px;
}


.register_form input {
    min-height: 30px;
    border: none;
    border-radius: 5px;
}

.register_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details p {
    color: red;
    margin: 0 0 0 0;
}


.submit_button_container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.details_register {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.details_register input {
    display: inline-block;
    width: 300px;
}

.error {
    color: red;
    margin: 0;
    height: 15px;
} 