.main_conatainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 87vh;
}

.coupons_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 82vh;
    width: 85vw;

}


@media(max-width:1870px) {
    .coupons_container {
        grid-template-columns: repeat(3, 1fr);
        width: 83vw;
    }
}
@media(max-width:1460px) {
    .coupons_container {
        grid-template-columns: repeat(3, 1fr);
        width: 79vw;
    }
}

@media(max-width:1180px) {
    .coupons_container {
        grid-template-columns: repeat(2, 1fr);
        width: 74vw;
    }
}

@media(max-width:960px) {
    .coupons_container {
        grid-template-columns: repeat(1, 1fr);
        width: 66vw;

    }
}

@media (max-height:925px) {
    .coupons_container {
        height: 82vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

}

@media (max-height:825px) {
    .coupons_container {
        height: 78vh;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

}

@media (max-height:725px) {
    .coupons_container {
        height: 77vh;
        scroll-behavior: smooth;
    }
}

@media (max-height:520px) {
    .coupons_container {
        height: 65vh;
        scroll-behavior: smooth;
    }
}


.pages_container {
    display: flex;
    justify-content: center;
    position: relative;
    height: 58px;
}

.amount {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.coupon_card {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
    height: 367px;
    max-height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    line-break: auto;
    width: 280px;
}

.coupon_card img {
    width: 100%;
    height: 128px;
    object-fit: cover;
}

.buttons_on_coupon button:hover {
    background-color: #cccccc;
}

.buttons_on_coupon button {
    border-radius: 5px;
}

.buttons-on-coupons {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mt-auto {
    min-height: 80px;
}

.coupons-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 39px;
}

.coupons-description {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 39px;

}

.price-tag {
    width: 100%;
    display: flex;

    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.buy_now {
    background-color: #7AC74F;
    color: white;
}

.delete_coupon_button {
    width: 100px;
    margin-right: 10px;
}

.edit_coupon_button {

    width: 100px;
}


.card_body {
    display: flex;
    flex-direction: column;
    height: 156px;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    color: black;
    list-style: none;
    text-decoration: none;
    margin: 5px;
}

a {
    color: black;
}


.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bolder;
    text-transform: uppercase;
}

.tag_teal {
    background-color: black;
}


.pagination_buttons {
    height: 40px;
    margin-top: 20px;
    list-style: none;
    display: flex;
    color: black;
    justify-content: center;
}

.pagination_buttons a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid;
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;

}

.pagination_buttons a:hover {
    color: white;
    background-color: black;
}

.active_buttons a {
    color: white;
    background-color: black;
}

.active_buttons a {
    color: white;
    background-color: black;
}

.pages_buttons.selected a {
    color: white;
    background-color: black;
}


.disabled_buttons a:hover {
    color: white;
    background-color: black;
}