.full_screen_login {
    height: 89vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-height:400px) {
    .full_screen_login {
        height: 89vh;
    }
}

@media (max-height:919px) {
    .full_screen_login {
        height: 89vh;
    }
}

.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #9DB5B2;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    height: 500px;
    min-width: 570px;
}

.details {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details input {
    min-height: 40px;
    border-radius: 5px;
}

.details label {
    font-size: 20px;
}


.submit_button_container {
    display: flex;
    justify-content: center;
    margin: 20px;
}


.title_login {
    font-weight: bold;
    font-size: 50px;
    
}

.title_login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
}

.error_container {
    width: 420px;
    height: 22px;
    font-size: 1.1rem;
    color: red;
}

.loading_spinner {
    height: 30px;
}