/* *,
*::before,
*::after {
  box-sizing: border-box;

}

html {
  margin: 0;
} */

/* .app {
  background-image: url("https://img.freepik.com/free-photo/tropical-monstera-leaf-border-frame-leaf-banner-background_53876-104691.jpg?w=1380&t=st=1661531233~exp=1661531833~hmac=f0aac997144117375e908a37bb078990147b98e56107d2ded8c9d77480c649aattps: //img.freepik.com/free-photo/tropical-monstera-leaf-border-frame-leaf-banner-background_53876-104691.jpg");
  background-size: cover;
  background-position: center;
} */


/* .full_screen {

  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .container {
  border: 2px solid;
  background-color: rgb(189, 184, 184);
  opacity: 0.6;
  font-weight: bold;
  border-radius: 5px;
  padding: 40px 30px;
  width: 40%;
  max-width: 400px;
} */

/* .error {
  position: fixed;
  font-size: 12px;
  color: red;
  margin-top: 47px;
}


form {
  display: flex;
  flex-direction: column;

  gap: 20px;


} */

/* .details {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

}

input {
  border-radius: 5px;
  min-height: 3vh;
} */


/* button {

  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(208, 214, 214);
}

.title {
  text-align: center;
} */